/*
 * Admin styles
 */

#save-settings-holder {
  margin-top: 30px;
  margin-bottom: 30px;
}

#next-auto-update-check {
  margin-bottom: 20px;
  font-style: italic;
  color: #909090;
}

#webp-converter-setting-settings-wrapper {
  display: inline-flex;
  flex-direction: column;

  .row {
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 5px;

    label {
      display: inline;
    }
  }

  .webp-field-escription {
      display: block;
      margin-top: 4px;
      font-style: italic;
      color: #868686;
  }
}
