/*
 * Admin styles
 */

#save-settings-holder {
  margin-top: 30px;
  margin-bottom: 30px;
}

#next-tauto-update-check {
  margin-bottom: 20px;
  font-style: italic;
  color: #909090;
}

#webp-converter-setting-settings-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;

  .row {
    label {
      display: inline;
    }
  }
}
